.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;

  color: var(--primary-text-color);

  &--blue {
    color: var(--accent-color);
  }

  &--footer {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    color: var(--white);
  }
}
