:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --secondary-bgc: #f5f4fa;
  --third-bgc: #2f303a;
  --card-set-gap: 30px;
  --main-font: "Roboto";
  --secondary-font: "Raleway"
}